*{
    margin: 0;
    padding: 0;
}
header{
    background-color: royalblue;
    color: white;
    text-align: center;
}
nav{
    display: none;
}
nav a{
    color: white;
    text-decoration: none;
    display: block;

}

.navdisplay{
    display: block;
}
main{
    text-align: center;
    background-color: lightgray;

}
section{
    padding: 5px;
    background-color: white;
    margin: 10px;
    box-shadow: 3px 3px 10px;
}
.workColumns{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

}
main img{
    aspect-ratio: 1/1;
}

.menu-btn{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}
footer{
    background-color: royalblue;
    color: white;
    text-align: center;
}
/* modal */

dialog img {
    height: 85%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background-color: rgba(0,0,0,.75);
    
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
    nav{
        display: block;
    }
    nav a{
        display: inline-block;
    }
    .menu-btn{
        display: none;
    }
    .workColumns{
        grid-template-columns: 1fr 1fr;
    }
@media screen and (min-width: 1000px) {
    .workColumns{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
}