
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");



          
body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1500px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
}
.displayFlex{
    display: flex;
}
.navDisplay{
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
}
.navDisplay a{
    padding: 20px;
    color: black;
}
.hide{
    display: none;
}

@media screen and (min-width: 700px) {
nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
nav a{
    display: block;
    padding: 20px;
    color: black;
}
.menu-btn{
    display: none;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
section{
    max-width: 400px;
}
}